<p id="notice"><%= notice %></p>

<h1><%= @user.username.capitalize %>'s Portfolio</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_holdings.each do |holding| %>
      <tr>
        <% @asset = Holding.find(holding.holding_id) %>
        <td><a href="/<%= @asset.holding_type.downcase %>/<%= @asset.name%>"><%= @asset.name %></a></td>
        <td><a href="/<%= holding.holding_type.downcase %>"><%= holding.holding_type %></a></td>
        <td><%= holding.num_of_shares %></td>
        <td><%= holding.created_at %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
