<p id="notice"><%= notice %></p>
<script> let portfolio = [];</script>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <h1><%= @user.username.capitalize %>'s Portfolio</h1>
        <div class="accordion" id="accordionExample">
          <% @user_holdings.each do |holding| %>
          <% @asset = Holding.find(holding.holding_id) %>
            <tr class="<%= @asset.name %>">
              <div class="card">
                <div class="card-header" id="heading<%=@asset.name%>">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=@asset.name%>" aria-expanded="false" aria-controls="collapse<%=@asset.name%>">
                    <p><%= @asset.name %></p>
                <!-- Button trigger modal -->
                <button type="button" class="btn  offset-5" data-id="<%= @asset.name %>" data-toggle="modal" data-target="#<%= @asset.name %>">Edit</button>
                <!-- Modal -->
                <div class="modal fade " id="<%= @asset.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Edit your <%= @asset.name%> Shares</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div  class="form-signin">
                        <%= form_for  holding, remote: true, authenticity_token: true do |f| %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                          <%= f.hidden_field :holding_id, value: @asset.id %>
                          <%= f.hidden_field :holding_type, value: "NYSE" %>
                          <%= f.label :number_of_shares, class:"d-block"  %>
                          <%= f.number_field :num_of_shares, class:"num_of_shares", required:true, placeholder: holding.num_of_shares %>
                          <%= f.submit "Add" %>
                        <% end %>
                        </div>
                      </div>
                      <div class="modal-footer">
                      <%= link_to 'Delete', portfolio_path(@asset), method: :delete %>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </button>
            </h5>
          </div>
                <script>
                  $('#<%= @asset.name %>').on('click', function(){$('#<%= @asset.name %>').modal(`show`)});
                </script>
                <div id="collapse<%=@asset.name%>" class="collapse" aria-labelledby="heading<%=@asset.name%>" data-parent="#accordionExample">
      <div class="card-body-<%= @asset.name %>">
        <p><a href="/<%= @asset.holding_type.downcase %>/<%= @asset.name%>"><%= holding.num_of_shares %> </a>Shares</p>
      </div>
    </div>
  </div>
              
            </tr>   
            <script>
            $.ajax({
              url: "https://api.iextrading.com/1.0/stock/<%=@asset.name%>/company",
              type: 'GET',
              dataType: "JSON",
              success: function(data) {
                console.log(data)
                $(".card-body-<%= @asset.name %>").append(`<p><a href="${data.website}" target="_blank">${data.companyName}</a>${data.industry}${data.sector}</p>`);
                 $(".card-body-<%= @asset.name %>").append(`<p>${data.description}</p>`);
                },
            error: function (request, status, error) {
              alert(error);
            }
          });
            </script>
<script type="text/javascript">  
$(document).ready(function () {
    <% if holding.holding_type == "NYSE" %>
      $.ajax({
        url: "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=<%=@asset.name%>&interval=1min&apikey=<%=ENV['ALPHA_VANTAGE_KEY']%>",
        type: 'GET',
        dataType: "JSON",
          success: function(data) {
            console.log(data)
            let symbol_key = data["Meta Data"]["2. Symbol"];
            let last_price = data["Time Series (1min)"];
            let price_key = Object.keys(last_price)[0];
            let first_value = last_price[price_key]["4. close"];
            let final_value = (first_value * <%= holding.num_of_shares %>);
            let holding_hash = {name: symbol_key , price: final_value};
            portfolio.push(holding_hash);
            console.log(portfolio)
            let ajax_complete = portfolio.length;
            console.log(ajax_complete);
              if (ajax_complete >= <%= @user_holdings.length %>){
                      // margin
                      var margin = {top: 20, right: 20, bottom: 20, left: 20},
                          width = 500 - margin.right - margin.left,
                          height = 500 - margin.top - margin.bottom,
                          radius = width/2,
                          legendRectSize = 18,                                 
                          legendSpacing = 4; 

                      // color range
                      var color = d3.scaleOrdinal()
                          .range(["#b2868e", "#8eb286", "#868eb2", "#b29486", "	#86b2aa", "#f7f2f3", "#1976D2"]);


                      var div = d3.select(".arc2").append("div")
                          .attr("class", "tooltip")
                          .style("opacity", 0);

                      // donut chart arc
                      var arc2 = d3.arc()
                          .outerRadius(radius - 10)
                          .innerRadius(radius - 70);

                      // arc for the labels position
                      var labelArc = d3.arc()
                          .outerRadius(radius - 40)
                          .innerRadius(radius - 40);

                      // generate pie chart and donut chart
                      var pie = d3.pie()
                          .sort(null)
                          .value(function(d) { 
                            console.log(d.price + "PRICE!!!!!!");
                            return d.price; });

                      // define the svg donut chart
                      var svg2 = d3.select("#graph-div").append("svg")
                          .attr("width", width)
                          .attr("height", height)
                          .append("g")
                          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                             
                          portfolio.forEach(function(d) {
                              d.price = +d.price;
                              d.name = d.name;
                          })

                          // "g element is a container used to group other SVG elements"
                        var g2 = svg2.selectAll(".arc2")
                            .data(pie(Object.values(portfolio)))
                            .enter().append("g")
                            .attr("class", "arc2");

                        // append path 
                        g2.append("path")
                        .attr("data-toggle", "tooltip")
                           .attr("data-placement", "auto")
                           .attr("data-trigger", "click hover")
                           .attr("title", function(d){console.log("tooltip is getting hit !!!!"); return `$${d.data.price.toFixed(2)}`})
                            .attr("d", arc2)
                            .style("fill", function(d) { 
                              return color(d.data.name); })
                            .transition()
                            .ease(d3.easeLinear)
                            .duration(2000)
                            .attrTween("d", tweenDonut);

                        // append text
                        g2.append("text")
                          .transition()
                            .ease(d3.easeLinear)
                            .duration(2000)
                            .attr("transform", function(d) { 
                              console.log("transform");
                              console.log(d);
                              return "translate(" + labelArc.centroid(d) + ")"; })
                            .attr("dy", ".35em")
                            .text(function(d) { 
                              return `${d.data.name} $${d.data.price.toFixed(2)}` ; });
                      };




                      // Helper function for animation of pie chart and donut chart
                      // function tweenPie(b) {
                      //   b.innerRadius = 0;
                      //   var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
                      //   return function(t) { return arc(i(t)); };
                      // }

                      function tweenDonut(b) {
                        b.innerRadius = 0;
                        var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
                        return function(t) { return arc2(i(t)); };
                      }

                      $('path').hover(function (d) {
                        if(d.type == "mouseenter") {
                          console.log("mouseenter!");
                          $(this).tooltip('show'); 
                        }
                        else if (d.type == "mouseleave") {
                          console.log("mouseleave!");
                          $(this).tooltip('hide'); 
                          }
                      });


            },
            error: function (request, status, error) {
              alert(error);
            }
          });
      <%end%>
                                        });
                 

              </script>
    <% end %>
</div>
</div>
<div class="col-sm-6" id="graph-div"></div>
</div>
</div>
<!-- load the d3.js library -->     
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>

</script>